//CURSOR GLOW//
//CURSOR GLOW//
//CURSOR GLOW//
//CURSOR GLOW//
//CURSOR GLOW//

#cursor-glow {
  position: fixed;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.061) 0%,
    rgba(28, 1, 1, 0) 70%
  );
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}
