$color-text: antiquewhite;
$color-main: rgb(58, 25, 43);
$color-main2: rgb(48, 10, 10);
$color-heading: rgb(227, 218, 100);
$color-background: rgb(30, 20, 50);
$color-hover-background: rgba(220, 210, 235, 0.303);
